.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

.env
static_server/public/uploads/*.jpg
static_server/public/uploads/*.png
static_server/public/uploads/*.zip
config.json
