.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.env

static_server/public/*
!static_server/public/2022/
!static_server/public/home/
config.json
config-docker.json
volumes

_backup-mongodb
_backup-config
_backup-static-server
migrations